DB_HOST="Имя хоста" для докера db_app, если локал то localhost
DB_PORT="порт" стандарт 5432
DB_NAME="имя бд" стандарт postgres
POSTGRES_USER="имя юзерв для бд" стандарт postgres
POSTGRES_PASSWORD="пароль у юзера бд" стандарт 1234
